.experiencia{
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.subtitulo{
    font-size: 128px;
    width: 4ch;
    word-break: break-all;
    text-align: left;
    color: #B5E61D;
    transition: 0.2s;
}

.subtitulo:hover{
    font-size: 130px;   
}

.experiencia-texto{
    font-size: 24px;
    text-align: center;
    max-width: 40ch;
}

.empresa{
    padding: 20px;
    margin: 20px 0px;
    background: rgb(247, 247, 247);
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: rgb(24, 24, 24);
    border-radius: 10px;
    gap: 5px 30px;
    border: 3px solid transparent;
}

.empresa:hover{
    border: 3px solid #B5E61D;
}

.empresa-info{
    gap: 30px;
}

.empresa-titulo{
    font-weight: bold;
    font-size: 18px;
}

.empresa-habilidades{
    display: flex;
    margin: 0; /* Remove margin padrão */
    padding: 0; /* Remove padding padrão (os 40px) */
    flex-wrap: wrap;
    gap: 10px;
    align-content: start;
    
}

.empresa-habilidades li{
    list-style: none;
    font-size: 14px;
    padding: 7px 10px;
    background: white;
    border-radius: 4px;
    border: 2px solid transparent;
    transition: 0.2s;
}

.empresa-habilidades li:hover{
    font-size: 15px;
    border: 2px solid black
}

.empresa-texto{
    font-size: 14px;
}

@media (max-width:800px) {
    .experiencia{
        grid-template-columns: 1fr;
    }
    .subtitulo{
        justify-self: center;
        font-size: 70px;
    }
    .subtitulo:hover{
        justify-self: center;
        font-size: 70px;
    }
}