.habilidades-container{
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.habilidades-titulo h2{
    font-size: 20px;
    color: #a9a297;
}

.habilidades-lista{
    background: #141516;
    padding: 30px;
    border: 1px solid transparent;
    transition: 0.5s;
}

.habilidades-lista:hover{
    border: 1px solid #B5E61D;
    border-radius: 4px;
}

.habilidades-item{
    margin-bottom: 30px;
}

.habilidades-item ul{
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.habilidades-item li img{
    display: block;
    margin: 0 auto;
    width: 50px;
}

.habilidades-item li{
    list-style: none;
    background: #373a3d;
    width: 70px;
    height: 70px;
    padding: 8px;
    justify-items: center;
    line-height: 2;
    border-radius: 4px;
    border: 1px solid transparent;
}

.habilidades-item li:hover{
    border: 1px solid #B5E61D;
}

@media (max-width:600px) {
    .habilidades-container{
        grid-template-columns: 1fr;
    }
    .subtitulo{
        justify-self: center;
        font-size: 70px;
    }
    .subtitulo:hover{
        justify-self: center;
        font-size: 70px;
    }

    .habilidades-item li{
    list-style: none;
    background: #373a3d;
    width: 50;
    height: 50;
    padding: 8px;
    justify-items: center;
    line-height: 2;
    border-radius: 4px;
    border: 1px solid transparent;
    }

    .habilidades-item li img{
        width: 40px;
    }
}