.header{
    max-width: 1200px;
    display: flex;
    margin: 40px auto;
    justify-content: space-between;
    align-items: center;
}

.header h1{
    font-size: 40px;
    color: white;
    text-align: center;
    transition: 0.2s;

}

.header h1:hover{
    font-size: 42px;
    color: #c0ff03;
}

a{
    text-decoration: none;
}

.menu{
    align-content: center;
}

.menu a{
    padding: 10px 15px;
    background: #B5E61D;
    display: inline-block;
    margin: 10px;
    color: black;
    font-size: 16px;
    border-radius: 4px;
    border: 2px solid transparent;
    transition: 0.3s;

}

.menu a:hover{
    font-size: 18px;
    border: 2px white solid;
    background: #91b918;
}

@media (max-width:800px){
    .header{
        flex-direction: column;
        gap: 40px;
    }

    .menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .menu a{
    margin: 0px;
  }
}